* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px; 
  font-family: sans-serif;
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#app {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px; 
  padding: 0px;
}

li {
  display: inline-block;
  padding: 0.5em;
}

li > button {
  padding: 0.5em;
}

img {
  max-height: 800px;
}


#picList {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#picList > div {
  padding: 1em;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}